<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvestorsData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InvestorsData.Properties.Settings>
            <setting name="InvestorsData_members_Members2_Service" serializeAs="String">
                <value>http://5.189.167.52:2356/Lophaservice/WS/Lopha%20Live/Page/Members2</value>
            </setting>
        </InvestorsData.Properties.Settings>
    </applicationSettings>
</configuration>