<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trimline.paul.datacollector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/remember_the_milk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.trimline.paul.datacollector.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.trimline.paul.datacollector.BlueToothPrinterApp"
            android:label="@string/app_name" />
        <activity
            android:name="com.trimline.paul.datacollector.login"
            android:label="@string/title_activity_login"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.trimline.paul.datacollector.BTDeviceList" />
        <activity
            android:name="com.trimline.paul.datacollector.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.trimline.paul.datacollector.Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.trimline.paul.datacollector.summary"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.trimline.paul.datacollector.DeviceListActivity"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.trimline.paul.datacollector.farmercollection" />
        <activity
            android:name="com.trimline.paul.datacollector.changepassword"
            android:label="@string/title_activity_changepassword"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>