<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Serverip>192.168.1.74</Serverip>
  <domain>KIMISITUSACCO0</domain>
  <Instance>Mobile</Instance>
  <Port>4446</Port>
  <Username>Pnjoroge</Username>
  <pass>Mbanking12345*</pass>
  <Companyname>kssl</Companyname>
  <PostIntervalinsec>60</PostIntervalinsec>
  <Reconnectintervalinsec>3</Reconnectintervalinsec>
  <logpath>C:\Mobile\Logs\Client\</logpath>
  <usewindowsauth>true</usewindowsauth>
</settings>
