<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Serverip>5.189.153.26</Serverip>
	<domain>5.189.153.26</domain>
	<Instance>Mobile</Instance>
	<Port>4047</Port>
	<Username>Integrations</Username>
	<pass>Password@2030</pass>
	<Companyname>LIVE</Companyname>
  <PostIntervalinsec>60</PostIntervalinsec>
  <Reconnectintervalinsec>3</Reconnectintervalinsec>
  <logpath>C:\Mobile\Logs\Client\</logpath>
  <usewindowsauth>true</usewindowsauth>
</settings>
