<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="S_Mobile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <S_Mobile.Properties.Settings>
      <setting name="S_Mobile_Accounts_Accounts_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Accounts</value>
      </setting>
      <setting name="S_Mobile_Transactions_Transactions_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Transactions</value>
      </setting>
      <setting name="S_Mobile_Loans_Loans_mobile_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Loans_mobile</value>
      </setting>
      <setting name="S_Mobile_Smobile_Mobile" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Codeunit/Mobile</value>
      </setting>
      <setting name="S_Mobile_Agent_App_Agent_App_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Agent_App</value>
      </setting>
      <setting name="S_Mobile_Account_Entries_Account_Entries_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Entries</value>
      </setting>
      <setting name="S_Mobile_Member_Application_Member_Application_Service"
        serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Member_Application</value>
      </setting>
      <setting name="S_Mobile_Account_Types_Account_Types_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Types</value>
      </setting>
      <setting name="S_Mobile_Application_Images_Application_Images_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Application_Images</value>
      </setting>
      <setting name="S_Mobile_Members_mobile_Member_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/mobile_Member</value>
      </setting>
      <setting name="S_Mobile_Nextofkin_Nextofkin_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Nextofkin</value>
      </setting>
      <setting name="S_Mobile_Relationshiptypes_Relationshiptypes_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Relationshiptypes</value>
      </setting>
      <setting name="S_Mobile_Eligibility_Eligibility_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Eligibility</value>
      </setting>
      <setting name="S_Mobile_LoanProducts_LoanProducts_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/LoanProducts</value>
      </setting>
      <setting name="S_Mobile_Mobile_Loan_Entries_Mobile_Loan_Entries_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Mobile_Loan_Entries</value>
      </setting>
      <setting name="S_Mobile_Guarantors_Mobile_Guarantors_Mobile_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Guarantors_Mobile</value>
      </setting>
      <setting name="S_Mobile_Member_mobile_info_Member_mobile_info_Service"
        serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Member_mobile_info</value>
      </setting>
      <setting name="NyalaVision_Account_Entries_Account_Entries_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Entries</value>
      </setting>
      <setting name="NyalaVision_Account_Types_Account_Types_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Types</value>
      </setting>
      <setting name="NyalaVision_Accounts_Accounts_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Accounts</value>
      </setting>
      <setting name="NyalaVision_Agent_App_Agent_App_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Agent_App</value>
      </setting>
      <setting name="NyalaVision_Application_Images_Application_Images_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Application_Images</value>
      </setting>
      <setting name="NyalaVision_Eligibility_Eligibility_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Eligibility</value>
      </setting>
      <setting name="NyalaVision_Guarantors_Mobile_Guarantors_Mobile_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Guarantors_Mobile</value>
      </setting>
      <setting name="NyalaVision_LoanProducts_LoanProducts_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/LoanProducts</value>
      </setting>
      <setting name="NyalaVision_Loans_Loans_mobile_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Loans_mobile</value>
      </setting>
      <setting name="NyalaVision_Member_Application_Member_Application_Service"
        serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Member_Application</value>
      </setting>
      <setting name="NyalaVision_Member_mobile_info_Member_mobile_info_Service"
        serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/Member_mobile_info</value>
      </setting>
      <setting name="NyalaVision_Members_mobile_Member_Service" serializeAs="String">
        <value>http://localhost:1812/Faulu/WS/FAULU%20BANK%20SACCO%20LIMITED/Page/mobile_Member</value>
      </setting>
      <setting name="NyalaVision_Mobile_Loan_Entries_Mobile_Loan_Entries_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Mobile_Loan_Entries</value>
      </setting>
      <setting name="NyalaVision_Nextofkin_Nextofkin_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Nextofkin</value>
      </setting>
      <setting name="NyalaVision_Relationshiptypes_Relationshiptypes_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Relationshiptypes</value>
      </setting>
      <setting name="NyalaVision_Smobile_Mobile" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Codeunit/Mobile</value>
      </setting>
      <setting name="NyalaVision_Transactions_Transactions_Service"
        serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Transactions</value>
      </setting>
      <setting name="S_Mobile_Mpesa_Transactions_Mpesa_Transactions_Service"
        serializeAs="String">
        <value>http://5.189.167.52:20248/Kanisaservice/WS/Kirigiti%20PCEA/Page/Mpesa_Transactions</value>
      </setting>
      <setting name="S_Mobile_Purpose_Purpose_Service" serializeAs="String">
        <value>http://desktop-fef2iq4:7047/BC140/WS/Kirigiti%20PCEA/Page/Purpose</value>
      </setting>
      <setting name="S_Mobile_Districts_Districts_Service" serializeAs="String">
        <value>http://desktop-fef2iq4:7047/BC140/WS/Kirigiti%20PCEA/Page/Districts</value>
      </setting>
      <setting name="S_Mobile_Vouchers_Vouchers_Service" serializeAs="String">
        <value>http://5.189.167.52:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Vouchers</value>
      </setting>
      <setting name="S_Mobile_Dimensions_Dimensions_Service" serializeAs="String">
        <value>http://5.189.167.52:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Dimensions</value>
      </setting>
      <setting name="S_Mobile_Nav365_MobileBanking" serializeAs="String">
        <value>http://144.91.72.27:8047/Integrations/WS/TOVU/Codeunit/MobileBanking</value>
      </setting>
    </S_Mobile.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MobileEntities" connectionString="metadata=res://*/Models.data.csdl|res://*/Models.data.ssdl|res://*/Models.data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Mobile;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>