<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Openvalley.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RunCodunit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Openvalley.Properties.Settings>
            <setting name="RunCodunit_Run_RunThem" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_mbranch_MBranch" serializeAs="String">
                <value>http://paulo:1913/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Codeunit/Mobile</value>
            </setting>
            <setting name="RunCodunit_Sms_Sms_Service" serializeAs="String">
                <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_Loans_Loans_Service" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Page/Loans</value>
            </setting>
            <setting name="RunCodunit_Mpesa_Mpesa_Service" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Page/Mpesa</value>
            </setting>
            <setting name="RunCodunit_Emails_Emails_Service" serializeAs="String">
                <value>http://paulo:1214/Jostepa/WS/Jostepa/Page/Emails</value>
            </setting>
            <setting name="RunCodunit_Smtp_Smtp_Service" serializeAs="String">
                <value>http://paulo:1214/Jostepa/WS/Jostepa/Page/Smtp</value>
            </setting>
        </Openvalley.Properties.Settings>
        <RunCodunit.Properties.Settings>
            <setting name="RunCodunit_Run_RunThem" serializeAs="String">
                <value>http://localhost:8113/Mwalimu/WS/Mwalimu%20Sacco/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_mbranch_MBranch" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/HOMABAY%20COUNTY%20WOMEN%20SACCO/Codeunit/MBranch</value>
            </setting>
            <setting name="RunCodunit_Sms_Sms_Service" serializeAs="String">
                <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_Loans_Loans_Service" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Page/Loans</value>
            </setting>
        </RunCodunit.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
