<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sacco.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sacco.Data.Properties.Settings>
            <setting name="Sacco_Data_Members_Members_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:9992/Bamburi/WS/Bamburi%20Wananchi%20Sacco/Page/Members</value>
            </setting>
            <setting name="Sacco_Data_Logins_Logins_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:9992/Bamburi/WS/Bamburi%20Wananchi%20Sacco/Page/Logins</value>
            </setting>
            <setting name="Sacco_Data_Loans_Loans_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:9992/Bamburi/WS/Bamburi%20Wananchi%20Sacco/Page/Loans</value>
            </setting>
        </Sacco.Data.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
