<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings>
    <add key="Unknown_Code" value="BAT" />
    <add key="Unknown_Description" value="UNKNOWN BARCODE SCANNED" />
    <add key="Log_Path" value="D:\\Logs" />
    <add key="labelName" value="BAT KENYA" />
    <add key="printerType" value="1" />
    <!--1...52/54....2..56/58.....3..Videojet-->
    <add key="sIP" value="192.168.0.1" />
    <add key="sPort" value="2111" />
    <add key="wIP" value="192.168.1.251" />
    <add key="wPort" value="3002" />
    <add key="pIP" value="192.168.0.102" />
    <add key="pPort" value="8952" />
    <add key="rIP" value="192.168.0.452" />
    <add key="rPort" value="5670" />
    <add key="timeOut" value="3" />
    <add key="wplcIP" value="192.168.1.250" />
    <add key="wplcRack" value="0" />
    <add key="wplcSlot" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="WEIGHCONEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEVE-WAMBUGU;initial catalog=WEIGHCON;persist security info=True;user id=sa;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>