<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <nav>
    <NAV>
      <Serverip>localhost</Serverip>
      <domain>localhost</domain>
      <Instance>DynamicsNAV</Instance>
      <Port>7047</Port>
      <Username>Hp</Username>
      <pass>Rahabgathoni2</pass>
      <Companyname>RWAMA FCS</Companyname>
      <PostIntervalinsec>5</PostIntervalinsec>
      <Reconnectintervalinsec>3</Reconnectintervalinsec>
      <logpath>C:\Logs\</logpath>
      <database>Autoweigh</database>
      <IntegratedSecurity>false</IntegratedSecurity>
      <certpath>E:\Tray\cert\navcert.cer</certpath>
      <client>NYALA_DAIRY</client>
    </NAV>
  </nav>
</settings>