<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NyalaVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <NyalaVision.Properties.Settings>
      <setting name="NyalaVision_Accounts_Accounts_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Accounts</value>
      </setting>
      <setting name="NyalaVision_Transactions_Transactions_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Transactions</value>
      </setting>
      <setting name="NyalaVision_Loans_Loans_mobile_Service" serializeAs="String">
        <value>http://192.168.0.46:7047/DynamicsNAV90/WS/NYALA%20VISION%20SACCO%20LTD/Page/Loans_mobile</value>
      </setting>
      <setting name="NyalaVision_Smobile_Mobile" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Codeunit/Mobile</value>
      </setting>
      <setting name="NyalaVision_Agent_App_Agent_App_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Agent_App</value>
      </setting>
      <setting name="NyalaVision_Account_Entries_Account_Entries_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Entries</value>
      </setting>
      <setting name="NyalaVision_Member_Application_Member_Application_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Member_Application</value>
      </setting>
      <setting name="NyalaVision_Account_Types_Account_Types_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Account_Types</value>
      </setting>
      <setting name="NyalaVision_Application_Images_Application_Images_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Application_Images</value>
      </setting>
      <setting name="NyalaVision_Members_mobile_Member_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/mobile_Member</value>
      </setting>
      <setting name="NyalaVision_Nextofkin_Nextofkin_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Nextofkin</value>
      </setting>
      <setting name="NyalaVision_Relationshiptypes_Relationshiptypes_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Relationshiptypes</value>
      </setting>
      <setting name="NyalaVision_Eligibility_Eligibility_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Eligibility</value>
      </setting>
      <setting name="NyalaVision_LoanProducts_LoanProducts_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/LoanProducts</value>
      </setting>
      <setting name="NyalaVision_Mobile_Loan_Entries_Mobile_Loan_Entries_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Mobile_Loan_Entries</value>
      </setting>
      <setting name="NyalaVision_Guarantors_Mobile_Guarantors_Mobile_Service" serializeAs="String">
        <value>http://paulo:5456/Nyala/WS/NYALA%20VISION%20SACCO%20LTD/Page/Guarantors_Mobile</value>
      </setting>
    </NyalaVision.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>