<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--server-->
  <Serverip>192.168.4.80</Serverip>
  <domain>MWALIMU</domain>
  <EInstance>MwalimuERPlive</EInstance>
  <Port>9082</Port>
  <EUsername>Go Mobile</EUsername>
  <Epass>G123456*</Epass>
  <Companyname>Mwalimu National Sacco Ltd</Companyname>
  <!--local db-->
  <Server>localhost</Server>
  <Instance></Instance>
  <Username>Autoweigh</Username>
  <pass>Mbanking12345*</pass>
  <database>Rice</database>
  <IntegratedSecurity>true</IntegratedSecurity>
  <!--others-->
  <PostIntervalinsec>60</PostIntervalinsec>
  <Reconnectintervalinsec>3</Reconnectintervalinsec>
  <logpath>D:\logs\Agency\</logpath>
  <smsclient>10000</smsclient>
</settings>