<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Agency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <applicationSettings>
    <Agency.Properties.Settings>
      <setting name="Agency_Transactions_AgentTransactions_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/AgentTransactions</value>
      </setting>
      <setting name="Agency_Customer_Customer_Service" serializeAs="String">
        <value>http://paulo:3346/IMA/WS/IMARIKA%20SACCO%20LTD/Page/Customer</value>
      </setting>
      <setting name="Agency_Loans_Loans_Service" serializeAs="String">
        <value>http://paulo:7047/DynamicsNAV90/WS/IMARIKA%20SACCO%20LTD/Page/Loans</value>
      </setting>
      <setting name="Agency_Charges_AgentCharges_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/AgentCharges</value>
      </setting>
      <setting name="Agency_Dimensions_Dimensions_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/Dimensions</value>
      </setting>
      <setting name="Agency_CustomerDetails_CustomerDetails_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/CustomerDetails</value>
      </setting>
      <setting name="Agency_AccountTypes_AccountTypes_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/AccountTypes</value>
      </setting>
      <setting name="Agency_LoanProducts_LoanProducts_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/LoanProducts</value>
      </setting>
      <setting name="Agency_Functions_Agency" serializeAs="String">
        <value>http://paulo:412/APS/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Codeunit/Agency</value>
      </setting>
      <setting name="Agency_Agents_AgentApplications_Service" serializeAs="String">
        <value>http://192.168.4.88:8082/MwalimuERPLive/WS/Mwalimu%20National%20Sacco%20Ltd/Page/AgentApplications</value>
      </setting>
      <setting name="Agency_Branches_Branches_Service" serializeAs="String">
        <value>http://vaio:3112/Trim/WS/IANSOFT/Page/Branches</value>
      </setting>
      <setting name="Agency_Registration_Member_Application_Service" serializeAs="String">
        <value>http://paulo:412/APS/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Member_Application</value>
      </setting>
    </Agency.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>