<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kanisa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Sermons_Binding" />
                <binding name="Events_Binding" />
                <binding name="Member_Groups_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Sermons"
                binding="basicHttpBinding" bindingConfiguration="Sermons_Binding"
                contract="Sermon.Sermons_Port" name="Sermons_Port" />
            <endpoint address="http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Events"
                binding="basicHttpBinding" bindingConfiguration="Events_Binding"
                contract="AllEvents.Events_Port" name="Events_Port" />
            <endpoint address="http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Member_Groups"
                binding="basicHttpBinding" bindingConfiguration="Member_Groups_Binding"
                contract="MemberGroups.Member_Groups_Port" name="Member_Groups_Port" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Kanisa.Properties.Settings>
            <setting name="Kanisa_Event_Events_Service" serializeAs="String">
                <value>http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Events</value>
            </setting>
            <setting name="Kanisa_Members_Customers_Service" serializeAs="String">
                <value>http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Customers</value>
            </setting>
            <setting name="Kanisa_MemberGroups_Member_Groups_Service" serializeAs="String">
                <value>http://195.26.249.217:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Member_Groups</value>
            </setting>
            <setting name="Kanisa_VoteHeads_Vote_Heads_Service" serializeAs="String">
                <value>http://nav.trimline.co.ke:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Vote_Heads</value>
            </setting>
            <setting name="Kanisa_Payments_Payments_Service" serializeAs="String">
                <value>http://nav.trimline.co.ke:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Payments</value>
            </setting>
            <setting name="Kanisa_PaymentDetails_Payment_Details_Service"
                serializeAs="String">
                <value>http://nav.trimline.co.ke:20248/KanisaService/WS/Kirigiti%20PCEA/Page/Payment_Details</value>
            </setting>
        </Kanisa.Properties.Settings>
    </applicationSettings>
</configuration>