<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NavWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <NavWrapper.Properties.Settings>
      <setting name="NavWrapper_Receipts_Receipts_Service" serializeAs="String">
        <value>http://5.189.167.52:2013/milestepservice/WS/Test/Page/Receipts</value>
      </setting>
      <setting name="NavWrapper_Receipt_Line_Receipt_Line_Service" serializeAs="String">
        <value>http://5.189.167.52:2738/Metrocrewservice/WS/MetroTrans%20Crew%20Sacco/Page/Receipt_Line</value>
      </setting>
      <setting name="NavWrapper_Members_Members_Service" serializeAs="String">
        <value>http://5.189.167.52:2729/MetroCrew/WS/MetroTrans%20Crew%20Sacco/Page/Members</value>
      </setting>
      <setting name="NavWrapper_Loans_Loans_Service" serializeAs="String">
        <value>http://paulo:5032/Milestep/WS/MILESTEP/Page/Loans</value>
      </setting>
      <setting name="NavWrapper_Users_Users_Service" serializeAs="String">
        <value>http://5.189.167.52:2013/milestepservice/WS/Test/Page/Users</value>
      </setting>
      <setting name="NavWrapper_Mobile_Types_Mobile_Types_Service" serializeAs="String">
        <value>http://5.189.167.52:2738/Metrocrewservice/WS/MetroTrans%20Crew%20Sacco/Page/Mobile_Types</value>
      </setting>
      <setting name="NavWrapper_Payment_Modes_Payment_Modes_Service" serializeAs="String">
        <value>http://paulo:5032/Milestep/WS/MILESTEP%20TRAINING/Page/Payment_Modes</value>
      </setting>
      <setting name="NavWrapper_Properties_PublishedPropertiesHeader_Service" serializeAs="String">
        <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20V/Page/PublishedPropertiesHeader</value>
      </setting>
      <setting name="NavWrapper_Investment_Members_Members_Service" serializeAs="String">
        <value>http://10.1.1.24:7047/DynamicsNAV110/WS/LIVE/Page/Member</value>
      </setting>
      <setting name="NavWrapper_Contact_Contact_Service" serializeAs="String">
        <value>http://10.1.4.17:7047/DynamicsNAV110/WS/LIVE/Page/Contact</value>
      </setting>
      <setting name="NavWrapper_Shares_ShareFloatingHeader_Service" serializeAs="String">
        <value>http://5.189.167.52:1176/Investment/WS/INVESTMENT/Page/ShareFloatingHeader</value>
      </setting>
      <setting name="NavWrapper_PropertySales_PropertySales_Service" serializeAs="String">
        <value>http://kpicsdevnav01.policesacco.com:7047/DynamicsNAV110/WS/LIVE/Page/PropertySales</value>
      </setting>
      <setting name="NavWrapper_ShareFloatingLines_ShareFloatingLines_Service" serializeAs="String">
        <value>http://5.189.167.52:1176/Investment/WS/INVESTMENT/Page/ShareFloatingLines</value>
      </setting>
      <setting name="NavWrapper_Vendor_Details_Vendor_Details_Service" serializeAs="String">
        <value>http://paulo:4302/Investment/WS/INVESTMENT/Page/Vendor_Details</value>
      </setting>
      <setting name="NavWrapper_Logins_Logins_Service" serializeAs="String">
        <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Logins</value>
      </setting>
      <setting name="NavWrapper_Presales_Presales_Service" serializeAs="String">
        <value>http://kpicsdevnav01.policesacco.com:7047/DynamicsNAV110/WS/LIVE/Page/Presales</value>
      </setting>
      <setting name="NavWrapper_MyProperties_MyProperties_Service" serializeAs="String">
        <value>http://kpicsprdapp01.policesacco.com:7047/DynamicsNAV110/WS/LIVE/Page/MyProperties</value>
      </setting>
      <setting name="NavWrapper_Payment_Methods_Payment_Methods_Service" serializeAs="String">
        <value>http://paulo:4302/Investment/WS/INVESTMENT/Page/Payment_Methods</value>
      </setting>
      <setting name="NavWrapper_Payment_Types_Payment_Types_Service" serializeAs="String">
        <value>http://paulo:4302/Investment/WS/INVESTMENT/Page/Payment_Types</value>
      </setting>
      <setting name="NavWrapper_Share_Setup_Share_Setup_Service" serializeAs="String">
        <value>http://paulo:4302/Investment/WS/INVESTMENT/Page/Share_Setup</value>
      </setting>
      <setting name="NavWrapper_Account_Types_Account_Types_Service" serializeAs="String">
        <value>http://paulo:4302/Investment/WS/INVESTMENT/Page/Account_Types</value>
      </setting>
      <setting name="NavWrapper_InvestmentFunctions_InvestmentFunctions" serializeAs="String">
        <value>http://5.189.167.52:1176/INVESTMENT/WS/KPS-TEST/Codeunit/InvestmentFunctions</value>
      </setting>
      <setting name="NavWrapper_Channels_Channels" serializeAs="String">
        <value>http://10.1.4.17:7047/DynamicsNAV110/WS/LIVE/Codeunit/Channels</value>
      </setting>
      <setting name="NavWrapper_Mpesa_Mpesa_Service" serializeAs="String">
        <value>http://kpicsdevnav01.policesacco.com:7047/DynamicsNAV110/WS/LIVE/Page/Mpesa</value>
      </setting>
      <setting name="NavWrapper_RealEstateFund_RealEstateFundApplication_Service" serializeAs="String">
        <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20V/Page/RealEstateFundApplication</value>
      </setting>
      <setting name="NavWrapper_FDTypes_FDTypes_Service" serializeAs="String">
        <value>http://10.1.4.17:7047/DynamicsNAV110/WS/LIVE/Page/FDTypes</value>
      </setting>
      <setting name="NavWrapper_Accountlist_Accountlist_Service" serializeAs="String">
        <value>http://10.1.4.17:7047/DynamicsNAV110/WS/Cycle%20III/Page/Accountlist</value>
      </setting>
      <setting name="NavWrapper_Mobile_Transactions_Mobile_Transactions_Service" serializeAs="String">
        <value>http://10.1.1.24:7047/DynamicsNAV110/WS/LIVE/Page/Mobile_Transactions</value>
      </setting>
      <setting name="NavWrapper_Member_APP_Member_APP_Service" serializeAs="String">
        <value>http://5.189.167.52:2729/MetroCrew/WS/MetroTrans%20Crew%20Sacco/Page/Member_APP</value>
      </setting>
    </NavWrapper.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>