<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.afrecash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.mobile.afrecash.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.mobile.afrecash.activities.Launch"
            android:theme="@style/AppThemeWhite_Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobile.afrecash.activities.EnterPhone"
            android:label="@string/title_activity_enter_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.ResetPIN"
            android:label="@string/title_activity_enter_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.Verify"
            android:label="@string/title_activity_enter_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.VerifyLoan"
            android:label="@string/title_activity_enter_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.EnterName"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobile.afrecash.activities.RequestLoan"
            android:label="@string/title_activity_request_loan"
            android:parentActivityName="com.mobile.afrecash.activities.Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobile.afrecash.activities.Home" />
        </activity>
        <activity
            android:name="com.mobile.afrecash.activities.MyLoans"
            android:label="@string/title_activity_my_loans"
            android:parentActivityName="com.mobile.afrecash.activities.Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobile.afrecash.activities.Home" />
        </activity>
        <activity
            android:name="com.mobile.afrecash.activities.LoanDetails"
            android:label="@string/title_activity_loan_details"
            android:parentActivityName="com.mobile.afrecash.activities.MyLoans"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobile.afrecash.activities.MyLoans" />
        </activity>
        <activity
            android:name="com.mobile.afrecash.activities.ViewLoan"
            android:label="@string/title_activity_view_loan"
            android:parentActivityName="com.mobile.afrecash.activities.MyLoans"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobile.afrecash.activities.MyLoans" />
        </activity>
    </application>

</manifest>
