<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Serverip>173.249.35.127</Serverip>
  <domain>173.249.35.127</domain>
  <Instance>MINET</Instance>
  <Port>2002</Port>
  <Username>Mbranch</Username>
  <pass>Mbanking12345*</pass>
  <Companyname>MINET</Companyname>
  <PostIntervalinsec>60</PostIntervalinsec>
  <Reconnectintervalinsec>3</Reconnectintervalinsec>
  <logpath>C:\Mobile\Logs\Client\</logpath>
  <usewindowsauth>true</usewindowsauth>
</settings> 