<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SyncData.Properties.Settings>
            <setting name="SyncData_Intrasoft_ProfitsExtGateway" serializeAs="String">
                <value>http://10.1.4.12/iProfits2.GatewayService/ProfitsExtGateway.asmx</value>
            </setting>
            <setting name="SyncData_Crm_WebService1" serializeAs="String">
                <value>http://10.1.1.23:12/Webservice1.asmx</value>
            </setting>
            <setting name="SyncData_VendorDocuments_Vendor_Attachments_Service"
                serializeAs="String">
                <value>http://10.1.4.16:7047/DynamicsNAV110/WS/KPS%20UAT%20II/Page/Vendor_Attachments</value>
            </setting>
            <setting name="SyncData_Employee_Attachments_Employee_Attachments_Service"
                serializeAs="String">
                <value>http://10.1.4.16:7047/DynamicsNAV110/WS/KPS%20UAT%20II/Page/Employee_Attachements</value>
            </setting>
            <setting name="SyncData_Links_Links_Service" serializeAs="String">
                <value>http://10.1.4.17:7047/DynamicsNAV110/WS/Cycle%20III/Page/Links</value>
            </setting>
            <setting name="SyncData_ErpVendor_VendorCard_Service" serializeAs="String">
                <value>http://10.1.1.20:7047/DynamicsNAV110/WS/Kenya%20Police%20SACCO/Page/Vendors</value>
            </setting>
            <setting name="SyncData_Erp_Payroll_Profits_Payroll_Profits_Service"
                serializeAs="String">
                <value>http://10.1.4.16:7047/DynamicsNAV110/WS/KPS%20UAT%20II/Page/Payroll_Profits</value>
            </setting>
            <setting name="SyncData_GL_Account_VendorCard_Service" serializeAs="String">
                <value>http://10.1.4.16:7047/DynamicsNAV110/WS/KPS%20UAT%20II/Page/GL_Account</value>
            </setting>
            <setting name="SyncData_Imprest_Profits_Imprest_Profits_Service"
                serializeAs="String">
                <value>http://10.1.1.20:7047/DynamicsNAV110/WS/Kenya%20Police%20SACCO/Page/Imprest_Profits</value>
            </setting>
            <setting name="SyncData_MemberCredits_MemberCredits_Service"
                serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/MemberCredits</value>
            </setting>
            <setting name="SyncData_crm_PropertySales_PropertySales_Service"
                serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20V/Page/PropertySales</value>
            </setting>
            <setting name="SyncData_crm_Contacts_Contact_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20IV/Page/Contact</value>
            </setting>
            <setting name="SyncData_AccountList_Accountlist_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/LIVE/Page/Accountlist</value>
            </setting>
            <setting name="SyncData_Members_Member_Channels_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20IV/Page/Member_Channels</value>
            </setting>
            <setting name="SyncData_Project_Proposals_Project_Proposals_Service"
                serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20IV/Page/Project_Proposals</value>
            </setting>
            <setting name="SyncData_Projects_Project_Proposals_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Projects</value>
            </setting>
            <setting name="SyncData_Loans_Project_Proposals_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Loans</value>
            </setting>
            <setting name="SyncData_Financial_Investments_Channel_Financial_Investments_Channel_Service"
                serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Financial_Investments_Channel</value>
            </setting>
            <setting name="SyncData_Withdrawals_Withdrawals_Service" serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Withdrawals</value>
            </setting>
            <setting name="SyncData_Member_withdrawal_Member_withdrawal_Service"
                serializeAs="String">
                <value>http://10.1.1.24:7047/DynamicsNAV110/WS/Cycle%20VI/Page/Member_withdrawal</value>
            </setting>
            <setting name="SyncData_Channels_Channels" serializeAs="String">
                <value>http://kpicsprdapp01.policesacco.com:7047/DynamicsNAV110/WS/LIVE/Codeunit/Channels</value>
            </setting>
        </SyncData.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
