<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Openvalley.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RunCodunit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aps.Properties.Settings>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_Sms_Sms_Service" serializeAs="String">
                <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_Loans_Loans_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:1113/Aps/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Loans</value>
            </setting>
            <setting name="RunCodunit_Members_Members_Service" serializeAs="String">
                <value>http://paulo:6021/Baraka/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Members</value>
            </setting>
            <setting name="RunCodunit_MobileTransactions_MobileTransactions_Service" serializeAs="String">
                <value>http://paulo:6021/Baraka/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/MobileTransactions</value>
            </setting>
            <setting name="RunCodunit_Memberlist_Memberslist_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:1113/Aps/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Memberslist</value>
            </setting>
            <setting name="RunCodunit_Comp_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Mbranch_RunThem" serializeAs="String">
                <value>http://desktop-fef2iq4:1113/Aps/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_smstemplatess_SmsTemplates_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:1113/Aps/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/SmsTemplates</value>
            </setting>
            <setting name="RunCodunit_Loanschedule_Loanschedule_Service" serializeAs="String">
                <value>http://desktop-fef2iq4:1113/Aps/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Loanschedule</value>
            </setting>
        </Aps.Properties.Settings>
        <Openvalley.Properties.Settings>
            <setting name="RunCodunit_Run_RunThem" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_mbranch_MBranch" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/HOMABAY%20COUNTY%20WOMEN%20SACCO/Codeunit/MBranch</value>
            </setting>
            <setting name="RunCodunit_Sms_Sms_Service" serializeAs="String">
                <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_Loans_Loans_Service" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Page/Loans</value>
            </setting>
            <setting name="RunCodunit_Members_Members_Service" serializeAs="String">
                <value>http://paulo:6021/Baraka/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/Members</value>
            </setting>
            <setting name="RunCodunit_MobileTransactions_MobileTransactions_Service" serializeAs="String">
                <value>http://paulo:6021/Baraka/WS/APS%20BARAKA%20SACCO%20SOCIETY%20LTD/Page/MobileTransactions</value>
            </setting>
        </Openvalley.Properties.Settings>
        <RunCodunit.Properties.Settings>
            <setting name="RunCodunit_Run_RunThem" serializeAs="String">
                <value>http://localhost:8113/Mwalimu/WS/Mwalimu%20Sacco/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_powerbifinance_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/powerbifinance</value>
            </setting>
            <setting name="RunCodunit_Companies_SystemService" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/SystemService</value>
            </setting>
            <setting name="RunCodunit_Companies_RunThem" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/RunThem</value>
            </setting>
            <setting name="RunCodunit_Companies_SalesOrder_Service" serializeAs="String">
                <value>http://192.168.1.3:3032/ATMNas/WS/ReplaceWithAPercentEncodedCompanyName/Page/SalesOrder</value>
            </setting>
            <setting name="RunCodunit_mbranch_MBranch" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/HOMABAY%20COUNTY%20WOMEN%20SACCO/Codeunit/MBranch</value>
            </setting>
            <setting name="RunCodunit_Sms_Sms_Service" serializeAs="String">
                <value>http://vaio:4013/Mwea/WS/MWEA%20RICE/Page/Sms</value>
            </setting>
            <setting name="RunCodunit_Loans_Loans_Service" serializeAs="String">
                <value>http://167.86.120.230:8013/Services/WS/OPVL/Page/Loans</value>
            </setting>
        </RunCodunit.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-112.1.0.0" newVersion="112.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
