<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <nav>
    <!--<NAV>
      <Serverip>localhost</Serverip>
      <domain></domain>
      <Instance>Aps</Instance>
      <Port>1113</Port>
      <Username>Mbranch</Username>
      <pass>Mbanking12345*</pass>
      <Companyname>APS BARAKA SACCO SOCIETY LTD</Companyname>
      <PostIntervalinsec>5</PostIntervalinsec>
      <Reconnectintervalinsec>3</Reconnectintervalinsec>
      <logpath>D:\Services\Logs\Posting\</logpath>
      <database>Autoweigh</database>
      <IntegratedSecurity>false</IntegratedSecurity>
      <certpath>E:\Tray\cert\navcert.cer</certpath>
      <client>OPENVALLEY</client>
    </NAV>-->
    <NAV>
      <Serverip>192.168.1.50</Serverip>
      <domain></domain>
      <Instance>Mobile</Instance>
      <Port>3337</Port>
      <Username>Mpesa</Username>
      <pass>b@r@k@pesa</pass>
      <Companyname>BARAKA YETU SACCO SOCIETY LTD</Companyname>
      <PostIntervalinsec>2</PostIntervalinsec>
      <Reconnectintervalinsec>3</Reconnectintervalinsec>
      <logpath>C:\Services\Logs\Posting\</logpath>
      <database>Autoweigh</database>
      <IntegratedSecurity>false</IntegratedSecurity>
      <certpath>E:\Tray\cert\navcert.cer</certpath>
      <client>Baraka-Yetu</client>
    </NAV>
  </nav>
</settings>