<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfForward" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://128.0.7.1/iProfits2.GatewayService/WcfForward.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfForward"
                contract="IWcfForward" name="BasicHttpBinding_IWcfForward" />
        </client>
    </system.serviceModel>
</configuration>